configuration
node_modules
npm-debug.log
coverage
vendor
.yardoc
index.js
doc
test/browser/build
test/browser/sample/appinfo.js
dist/aws-sdk-all.js
.idea
**/*.spec.map
**/*.spec.js
dist
lib/*.js
resource-configuration/*.js
iam-token-manager/*.js
**/*.d.ts
!*/blob.d.ts
**/*.js.map